.home{
  &__title1{
    @extend .fz-28;
    font-family: $font-Verdana-Bold;
    line-height: 1.24;
    color: #000;
    .uk-light &{
      color: #ffffff;
    }
  }
  &__title2{
    @extend .fz-39;
    color: #000;
    font-family: $font-Verdana-Bold;
    line-height: (40/38.9);
    &--c4{
      color: $color4 !important;
    }
    .uk-light &{
      color: #ffffff !important;
    }
    .home__blockChuyennganh__card &{
      line-height: (43/38.9);
    }
  }
  &__blockQuytrinh{
    &__txt1{
      color: #1d1d1b;
      @extend .fz-16;
      line-height: (22/16);
      span{
        font-family: $font-Roboto-Black;
      }
    }
    &__txt2{
      @extend .fz-33;
      color: #000;
      line-height: (23/33);
      font-family: $font-iCielGotham-Ultra;
      position: relative;
      top: -22px;
      @include media-breakpoint-up('m'){
        top: -19px;
      }
    }
    &__item{
      @extend .fz-14;
      font-family: $font-SanFranciscoText-G3;
      color: #ffffff !important;
      &:nth-child(n+2){
        margin-top: 5px;
        @include media-breakpoint-up('m'){
          margin-top: 10px;
        }
      }
    }
  }
  &__blockHoatdong{
    &__title{
      @extend .fz-16;
      font-family: $font-Roboto-Black;
      line-height: (18/16);
      a{
        color: #000;
      }
    }
    &__boxMobile{
      margin-left: -15px;
      margin-right: -15px;
      padding-left: 15px;
      @include media-breakpoint-up('m'){
        margin-left: 0;
        margin-right: 0;
        padding-left: 0;
      }
      >*{
        width: max-content;
        @include media-breakpoint-up('m'){
          width: inherit;
        }
        >*{
          &:last-child{
            margin-right: 15px;
          }
        }
      }
    }
    &__card{
      width: 200px !important;
      @include media-breakpoint-up('m'){
        width: inherit !important;
      }
    }
  }
  &__blockDangky{
    &__input{
      color: #575756;
      @extend .fz-16;
      font-family: $font-Roboto-LightItalic;
      &::placeholder{
        color: #575756;
      }
    }
    &__btn{
      background: $color1;
      color: #000;
      @extend .fz-18;
      font-family: $font-Verdana;
      border-radius: 16px;
      .home__blockForm &{
        margin-bottom: -75px;
        @include media-breakpoint-up('m'){
          margin-bottom: -95px;
        }
      }
      &--c1{
        background: $color2;
        color: #ffffff;
      }
    }
  }
  &__blockDangky1{
    &__avartar{
      margin-top: -56px;
      @include media-breakpoint-up('m'){
        margin-top: -198px;
      }
    }
    .uk-radio{
      &:not(:checked){
        background: #fff;
      }
    }
    &__card{
      border: 1px solid #ffffff;
    }
    &__txt1{
      color: #000;
      @extend .fz-16;
      font-family: $font-Roboto-Bold;
      line-height: (18/16);
    }
    &__txt2{
      color: #000;
      @extend .fz-16;
      font-family: $font-Roboto-Italic;
      line-height: (19/16);
    }
  }
  &__blockBanner{
    padding-bottom: 350px;
    &__overlay{
      background: rgba(0, 0, 0, 0.31);

    }
    &__logo{
      img{
        @include fluidx(86px,50px,height);
      }
    }
    &__txt1{
      color: #ffffff;
      @include media-breakpoint-up('m'){
        color: #200000;
      }
      @extend .fz-36;
      font-family: $font-Verdana-Bold;
      &--c1{
        line-height: 1;
      }
      &--c2{
        line-height: 1.32;
      }
    }
    &__txt2{
      @extend .fz-41;
      font-family: $font-Verdana-Bold;
      line-height: 1;
      color: $color4;
    }
    &__txt3{
      color: $color4;
      @extend .fz-41;
      line-height: (37/41.2);
      font-family: $font-iCielMijas;
    }
  }
  &__blockForm{
    margin-top: -70px;
    @include media-breakpoint-up('m'){
      margin-top: -250px;
    }
    &__card{
      $x: 30px;
      border-radius: #{$x};
    }
  }
  &__blockUuthe{
    &__title{
      @extend .fz-42;
      font-family: $font-Verdana-Bold;
      color: $color4;
      line-height: (33/41.7);
      margin-bottom: 10px;
    }
    &__desc{
      color: #200000;
      @extend .fz-15;
      font-family: $font-Verdana;
      line-height: (33/2/15);
    }
    &_grid{
      >.uk-grid-margin{
        @include media-breakpoint-up('m'){
          margin-top: 29px !important;
        }
      }
    }
  }
  &__blockChuyennganh{
    &__card1{
      border: 1px solid #ffffff;
      //border-bottom: none;
      $x: 20px;
      border-radius: #{$x};
    }
    &__card{

      margin-left: -15px;
      margin-right: -15px;
      padding-left: 15px;
      padding-right: 15px;
      @include media-breakpoint-up('m'){
        padding: 40px;
        margin-left: 0;
        margin-right: 0;
        $x: 30px;
        border-radius: #{$x};
      }
    }
    &__title{
      @extend .fz-22;
      font-family: $font-Roboto-Black;
      color: #ffffff;
      line-height: (24/22);
    }
    &__txt1{
      @extend .fz-15;
      font-family: $font-Roboto-Medium;
      color: #ffffff;

    }
  }
  &__blockThutuc{
    &__box1{
      margin-top: -18px;
      position: relative;
      z-index: 10;
    }
    &__btn{
      background: $color2;
    }
    &__step{
      @extend .fz-15;
      font-family: $font-Verdana;
    }
    &__title{
      color: $color4;
      @extend .fz-22;
      font-family: $font-Roboto-Black;
      text-transform: uppercase;
      margin-bottom: 7px !important;
      @include media-breakpoint-up('m'){
        margin-bottom: 10px !important;
      }
    }
    &__desc{
      @extend .fz-16;
      color: #1d1d1b;
      line-height: (17/16);
      span{
        font-family: $font-Roboto-Black;
        line-height: (20/16);
      }
    }
  }
}